<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pointsPerTile</key>
	<integer>10</integer>
	<key>timeToSolve</key>
	<integer>20</integer>
	<key>anagrams</key>
	<array>
		<array>
			<string>2,3,2,+,3,-,x,^2</string>
			<string>2,3,2,+,3,-,x,^2</string>
		</array>
	</array>
</dict>
</plist>
